pip install pytorch
pip install numpy
pip install pandas
pip install scikit-learn
pip install joblib
pip install fastapi
pip install requests
pip install os
pip install soundfile
pip install json
pip install pickle
